Source: userspace-resource-manager-extensions
Section: libs
Priority: optional
Maintainer: Jagadeesh Pagadala <jpagadal@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13), dh-sequence-cmake, cmake, pkgconf,
 userspace-resource-manager (>= 1.0.0-1)
Standards-Version: 4.6.2
Homepage: https://github.com/qualcomm/userspace-resource-manager-extensions

Package: userspace-resource-manager-extensions
Architecture: any
Section: libs
Depends: userspace-resource-manager (>= 1.0.0-1), ${shlibs:Depends}, ${misc:Depends}
Description:  The URM Extensions framework provides a mechanism for customizing
  URM behaviour, for example: Add new custom resources and signals without modifying 
  the core URM codebase, Override default resource handlers with custom implementations,
  Provide target-specific configurations for different hardware platforms.
  The URM Extensions framework allows for extending URM functionality through a clean
  plugin architecture.
